body{
    background-color:powderblue;
}

.thumbnail.pref{
    padding: 0px;
}

.thumbnail img{
    width: 100%;
}

.thumbnail .caption-full{
    padding: 9px;
}

.jumbotron{
    background: rgb(66, 66, 182);
    color: white;
    text-align: center;
}

.jumbobutton{
    background-color: tomato;
    color: black;
}